{% extends '::base.html.twig' %}

{% block title %}اتفاق جديد{% endblock %}

{% block header %}اتفاق جديد{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    بيانات الاتفاق
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_start(form,{'attr': {'role':'form'} }) }}

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <label> اسم العميل*</label>
                                            {{ form_widget(form.dealer, { 'attr' : { 'class': 'form-control' } }) }}
                                            {{ form_errors(form.dealer) }}
                                        </div>
                                        <div class="col-md-5" style="margin-top: 25px;">
                                            <input type="button" class="form-control btn btn-warning" value="ابحث عن العميل">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <label> تاريخ الاتفاق*</label>
                                            {{ form_widget(form.startDate) }}
                                            {{ form_errors(form.startDate) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group input-group">
                                    <div id="price" style="display: table;">
                                        <span class="input-group-addon">جنيه</span>
                                        {{ form_widget(form.absoluteTarget, { 'attr' : { 'class': 'form-control', 'placeholder': 'صافي قيمة الشراء' } }) }}
                                        {{ form_errors(form.absoluteTarget) }}
                                        <span class="input-group-addon">صافي قيمة الشراء</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <fieldset>
                                        <legend>طريقة حساب الفائدة</legend>

                                        <label class="radio-inline">
                                            <input type="radio" name="calc-way" value="fixed">قيمة ثابتة
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="calc-way" value="percentage">قيمة نسبية
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="calc-way" value="total">مبلغ اجمالي
                                        </label>
                                        <br><br>
                                        <div class="form-group input-group">
                                            <div id="fixed" style="display: table;">
                                                <span class="input-group-addon">جنيه</span>
                                                {{ form_widget(form.profit, { 'attr' : { 'class': 'form-control', 'placeholder': 'قيمة الربح' } }) }}
                                                {{ form_errors(form.profit) }}
                                            </div>
                                            <div id="percentage" style="display: table;">
                                                <span class="input-group-addon">%</span>
                                                {{ form_widget(form.profitPercentage, { 'attr' : { 'class': 'form-control', 'placeholder': 'نسبة الربح' } }) }}
                                                {{ form_errors(form.profitPercentage) }}
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="form-group input-group">
                                    <div id="total" style="display: table;">
                                        <span class="input-group-addon">جنيه</span>
                                            {{ form_widget(form.realTarget, { 'attr' : { 'class': 'form-control', 'placeholder': 'صافي قيمة الشراء', 'disabled': 'disabled' } }) }}
                                            {{ form_errors(form.realTarget) }}
                                        <span class="input-group-addon">حاصل القيمة الاجمالية</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <fieldset>
                                        <legend>طريقة الدفع</legend>
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="radio">    
                                                    <label>
                                                        <input type="radio" name="price-way" id="fixed" value="fixed">مبلغ ثابت محدد شهريا
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="price-way" id="percentage" value="percentage">تقسيم المبلغ علي حسب عدد الشهور
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="price-way" id="total" value="total">مبلغ غير ثابت شهريا
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div id="monthly">
                                                    <input type="text" class="form-control" placeholder="00" style="height: 91px;font-size: 48px;text-align: center;border-bottom: 0;border-bottom-right-radius: 0;border-bottom-left-radius: 0;">
                                                    <span class="input-group-addon" style="border-left: 1px solid #ccc;border-bottom-left-radius: 4px;border-top-right-radius: 0;">شهرا</span>
                                                </div>
                                                
                                                <div id="poundly">
                                                    <input type="text" class="form-control" placeholder="0.00" style="height: 91px;font-size: 48px;text-align: center;border-bottom: 0;border-bottom-right-radius: 0;border-bottom-left-radius: 0;">
                                                    <span class="input-group-addon" style="border-left: 1px solid #ccc;border-bottom-left-radius: 4px;border-top-right-radius: 0;">جنيها</span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </fieldset>
                                </div>

                                <input type="submit" class="btn btn-primary" value="اضف العميل"/>
                                <a href="{{ path('dealer') }}" class="btn btn-default">ارجع للقائمة</a>
                            {{ form_end(form) }}
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        
                        <div class="col-lg-6" style="border-left: 1px dotted lightgrey;">
                            <div id="cart-holder">
                                <i class="fa fa-shopping-cart fa-5x" style="margin-left: 37%;margin-top: 22%;font-size: 171px;color: cornflowerblue;"></i>                                    
                            </div>
                            <div id="cart-holder-area" style="font-size: 28px;text-align: center;">
                                انقر هنا لمعرفة تفاصيل الدفع
                            </div>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}

{# ... #}
{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset("js/custom/deals.js") }}"></script>
{% endblock %}
{# ... #}